body{
    /* background-color: rgb(172, 79, 79); */
    background: url("bottle6.jpg");
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif ;
    color: #fff ;
}

.logo{
    width: 230px;
}
.email{
    padding-left: 3px;
    font-size: small;
}
.icon-container{
    margin-right: 30px;
}
.color {
    background: rgba(39,62,84,0.3);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}
.soon{
    text-align: center;
    font-weight: 400;
    font-size: 100px;
    font-weight: bolder;
    
}
.soon2{
    text-align: center;
    font-size:25px;
}
.text{
    position: fixed;
    text-align:center;
    bottom: 20px;
    color: rgb(233, 199, 199);
}


a:hover {color:#fff !important;}

/* .foot{    
    position: fixed;
    left: 0px;
    bottom: 20px;
    width: 100%;
    text-align: center;
} */
/* responsive*/
@media( max-width:990px){
    .logo{
        width: 180px;
    }
    .icon-container{
        text-align: center;
       
    }
    .soon{
        text-align: center;
        font-size:60px;
    }
    .soon2{
        text-align: center;
        font-size: 20px;
        width: 75%;

    }
}
@media( max-width:768px){
   
    .logo{
        width: 150px;
     }

     .icon-container{
        text-align: center;
        font-size: 13px;
    } 
     select{
        width: 100%;
        height: 100%;
     }
     .soon{
        text-align: center;
        font-size:50px;
        
        font-weight: bolder ;
    }
    .soon2{
        text-align: center;
        font-size: 20px;
    
    }
}